<body>
    <a href="/">Home</a>
    <a href="/about/">About</a>

    <h1>About me</h1>
    <h2>add my new Astro Site!</h2>
    <p>
        I am working through Astro's introductory tutorial. This is the second
        page on my website <br />
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum, vel eaque
        labore minus pariatur necessitatibus dolores saepe atque accusamus mollitia
        enim nemo, sed quas quaerat consequatur fugiat itaque neque quam?
    </p>
</body>
